
/* --------------------------------------
   Navbar
   -------------------------------------- */
#imag{
  width:100px;
  height:50px;
}
.navicon{
padding-right: 300px;
}
/* --------------------------------------
   jumbotron
   -------------------------------------- */
.jumbotron{
   margin-bottom: 0px;
   background-image: url(../../images/collg1.jpg);
   background-repeat: no-repeat;
   color:blue;
   min-height:500px;
   margin-top: 90px;
}
/* --------------------------------------
   callout
   -------------------------------------- */
#call{
width: 300px;
}

/* --------------------------------------
    Styles
   -------------------------------------- */
#tab1 p{
     margin-top: 20px;
     font-family: sans-serif;
     line-height: 30px;
   }
#tab2 p{
  font-family: sans-serif;
  line-height: 30px;
}
#overview{
  font-family: sans-serif;
  line-height: 30px;
}
#featuresheading{
  font-family: sans-serif;
}

#feat,#feat1{
  margin-right: 20px;
  text-align: center;
}
#feat,#feat1 img{
  margin:0 0 20px;

}
   /* --------------------------------------
      footer
      -------------------------------------- */
footer{
     background: #333;
     color: #eee;
     font-size: 11px;
     padding: 20px;
     margin-top: 20px;
   }
   ul.unstyled{
     list-style: none;
     padding: 0px;
   }
